:root {
  --mdc-theme-primary: #d55a5a;
}
body {
  background: aliceblue url('/images/loginbackground.svg') no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.mdc-button {
  width: 100%;
}
