:root {
  --mdc-theme-primary: #f6a0a0;
  --mdc-theme-secondary: #d55a5a;
  --mdc-shape-small: 8px;
}
body {
  background: aliceblue url(/images/loginbackground.svg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}
h1 {
  color: white;
}
.mdc-button {
  height: 50px;
}
.mdc-fab--extended {
  background: #d55a5a;
}
.mdc-typography--headline1 {
  color: #fff;
  text-align: center;
}
.avatar {
  background: var(--mdc-theme-secondary);
  color: var(--color-white);
  font-weight: 500;
  font-size: 2em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  margin: 0 auto;
  margin-top: 4em;
}
/*--RESPONSIVE--*/
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  h1 {
    font-weight: 200;
    font-size: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
    margin-bottom: 0.3em;
  }
  button {
    margin-bottom: 2em;
  }
  .mdc-typography {
    width: 65%;
  }
  .avatar {
    margin-top: 2em;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mdc-typography {
    width: 50%;
  }
}
