:root {
  --mdc-theme-primary: #d55a5a;
  --color-white: #fff;
}

body {
  background: aliceblue url('/images/loginbackground.svg') no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.mdc-button {
  width: 100%;
}

.mdc-typography--headline1 {
  color: #fff;
  text-align: center;
}

.avatar {
  background-color: var(--mdc-theme-primary);
  color: var(--color-white);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  margin: 0 auto;
  margin-top: 4em;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

/*-- Mobile --*/
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  body {
    width: 90%;
  }
}

/*-- iPad --*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 75%;
  }
}
