flask == 2.0.1
flake8 == 3.9.2
pytest == 6.2.4
autopep8 == 1.5.7
flask-httpauth == 4.4.0
flask.testing == 0.8.1
flask-migrate == 3.1.0
flask-sqlalchemy == 2.5.1
flask-swagger-ui == 3.36.0
bcrypt == 3.2.0
marshmallow-sqlalchemy == 0.26.1
flask-marshmallow == 0.14.0
flask-cors == 3.0.10
flask-expects-json == 1.6.0
